.agendamento {
    padding: 60px 0;
    padding-left: 60px;
    display: flex;
    justify-content: space-evenly;
}

.agendamento-formulario {
    display: flex;
    flex-direction: column;
}

.agendamento-titulo {
    margin: 30px 0 60px 0;
    font-size: 1.5rem;
    text-align: center;
}

.agendamento-texto {
    font-size: 1.3rem;
}

.agendamento-campo {
    margin-bottom: 30px;
    padding: 14px 18px;
    border-radius: 5px;
    border-color: #FFFFFF;
    border-style: solid;
}

.formulario-selecao {
    display: flex;
    align-items: baseline;
}

.formulario-selecao p {
    margin-right: 5px;
    font-size: 1.3rem;
}

.agendamento-selecao {
    width: 70%;
    padding: 14px 18px;
    font-size: 1rem;
    border-radius: 5px;
    border-color: #FFFFFF;
    border-style: solid;
}

.agendamento-imagem {
    width: 35%;
}