.cabecalho-conteudo {
    display: flex;
    align-items: center;
    background-color: #FFFAFA;
    padding: 20px;
}

.cabecalho-menu {
    position: absolute;
    right: 60px;
}

.cabecalho-lista {
    display: flex;
}

.cabecalho-item {
    margin: 0 40px;
    font-size: 1.7rem;
}