@media screen and (min-width: 800px) {
    .cabecalho {
        text-align: center;
    }

    .cabecalho-conteudo {
        display: block;
    }

    .cabecalho-menu {
        right: 0;
        position: static;
    }

    .cabecalho-lista {
        display: block;
        margin-bottom: 60px;
    }

    .cabecalho-item {
        margin: 10px 0;
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 1000px) {
    .cabecalho-conteudo {
        display: flex;
        align-items: center;
        background-color: #FFFAFA;
    }

    .logo {
        cursor: pointer;
    }

    .cabecalho-menu {
        position: absolute;
        right: 60px;
        top: 100px;
    }

    .cabecalho-lista {
        display: flex;
        text-decoration: none;
    }

    .cabecalho-item {
        margin: 0 40px;
        font-size: 1.7rem;
        text-transform: capitalize;
        transition: 500ms;
    }

    .cabecalho-item:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: #FF86C7;
    }
}