.servicos {
    background-color: #FFFAFA;
    padding: 50px 0;
}

.servicos-conteudo {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.servicos-titulo {
    text-align: center;
}

.servicos-img {
   
}

.servicos-lista {
   
}

.servicos-item {
    font-size: 2rem;
}