.sobre {
    padding: 0 100px;
    gap: 0 70px;
}

.sobre-conteudo {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.sobre-imagem {
    width: 30%;
    border-radius: 10px;
}

.sobre-texto {
    padding: 0 180px;
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: center;
}
